.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em 1.5em;
  border-radius: 4px;
  border: solid 1px #e7e5e5;
  margin: 1em 0;
  background-color: #fff;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.book_details h2 {
  font-family: var(--montserrat);
}

.book_details p {
  font-family: var(--robotoSlab);
  font-size: 0.85em;
  font-weight: 400;
  color: var(--textColor);
}

.btn {
  appearance: none;
  border: none;
  background: none;
  color: var(--textColor);
  font-family: var(--montserrat);
  cursor: pointer;
}

.btn:nth-child(2) {
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
  font-family: var(--montserrat);
  padding: 0 0.7em;
}

.btn_container {
  display: flex;
  gap: 1em;
}

.progress_update {
  appearance: none;
  padding: 0.5em;
  border: none;
  background-color: var(--textColor);
  font-family: var(--robotoSlab);
  color: #fff;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 6px;
}

.chapter_heading {
  font-size: 1.2rem;
  color: #b1b0b0;
}
