@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');

body {
  margin: 0;
  background-color: #f5f5dc;
  overflow-x: hidden;
}

.books_container {
  width: 85%;
  height: 85vh;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.nav_container {
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-bottom: 1px #e4e5e9 solid;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.85rem;
  font-weight: 800;
  color: #0291ffea;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  width: 100%;
}

.nav_links a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #000;
  text-decoration: none;
}

.nav_links li {
  list-style: none;
}
